@charset "utf-8";

#sub_cocktail_list {background: var(--main-color); }
#sub_cocktail_list .sub_cocktail_list_visual img {width: 100%; display: block;}
#sub_cocktail_list .sub_cocktail_list_tit {padding: 50px 0 100px;}
#sub_cocktail_list .sub_cocktail_list_tit h2 {font-size: 6rem; color: var(--sub-color); text-align: center; padding-bottom: 20px;}
#sub_cocktail_list .sub_cocktail_list_tit p {color: rgba(255, 255, 255, 0.6); text-align: center;}
#sub_cocktail_list .list_con {display: flex; gap: 50px; flex-wrap: wrap; width: 100%; text-align: center; padding-bottom: 100px;}
#sub_cocktail_list .list_con li {width: calc((100% - 150px) / 4);padding: 50px 0;}
#sub_cocktail_list .list_con li a img {width: 100%;}
#sub_cocktail_list .list_con li:hover a h6 {transform: translateY(-10%);}
#sub_cocktail_list .list_con li a h6 {font-size: 3rem; font-family: var(--sub-font); font-weight: 400; color: var(--sub-color); transition: all 0.6s; line-height: 1; padding: 10px 0;}

@media (max-width:1200px) {
    #sub_cocktail_list .sub_cocktail_list_tit {padding: 40px 0 80px;}
    #sub_cocktail_list .sub_cocktail_list_tit h2 {font-size: 4rem; padding-bottom: 20px;}
    #sub_cocktail_list .list_con {gap: 30px;}
    #sub_cocktail_list .list_con li {width: calc((100% - 90px) / 4);padding: 50px 0;}
    #sub_cocktail_list .list_con li a h6 {font-size: 2rem;}
}
@media (max-width:768px) {
    #sub_cocktail_list .sub_cocktail_list_tit {padding: 30px 0 60px;}
    #sub_cocktail_list .sub_cocktail_list_tit h2 {font-size: 4rem; padding-bottom: 20px;}
    #sub_cocktail_list .sub_cocktail_list_tit p {font-size: 1.4rem;}
    #sub_cocktail_list .list_con {gap: 20px;}
    #sub_cocktail_list .list_con li {width: calc((100% - 40px) / 3);padding: 20px 0;}
    #sub_cocktail_list .list_con li a h6 {font-size: 1.6rem;}
}
@media (max-width:500px) {
    #sub_cocktail_list .sub_cocktail_list_tit {padding: 20px 0 40px;}
    #sub_cocktail_list .sub_cocktail_list_tit h2 {font-size: 3rem;}
    #sub_cocktail_list .sub_cocktail_list_tit p {font-size: 1.4rem;}
    #sub_cocktail_list .list_con {gap: 20px; padding-bottom: 50px;}
    #sub_cocktail_list .list_con li {width: calc((100% - 40px) / 3);padding: 10px 0;}
    #sub_cocktail_list .list_con li a h6 {font-size: 1.6rem;}
}
