@charset "utf-8";

#sub_guide01 {background: var(--main-color);}

#sub_guide01 .sub_guide01_visual video {width: 100%; object-fit: cover; display: block;}
#sub_guide01 .sub_guide01_tit {padding: 50px 0 100px; text-align: center;}
#sub_guide01 .sub_guide01_tit h2 {font-size: 6rem; color: var(--sub-color); padding-bottom: 20px;}
#sub_guide01 .sub_guide01_tit p {color: rgba(255, 255, 255, 0.6);}
#sub_guide01 ul {width: 100%; color: #fff;}
#sub_guide01 ul li {display: flex; align-items: center; gap: 50px; padding: 100px 0;}
#sub_guide01 ul li .guide01_right {width: 30%; border-top: 1px solid var(--sub-color);}
#sub_guide01 ul li .guide01_right p {font-size: 4rem; padding: 20px 0; line-height: 0.8;}
#sub_guide01 ul li .guide01_right img {width: 100%;}
#sub_guide01 ul li .guide01_right span {font-size: 3rem; font-family: var(--sub-font);}
#sub_guide01 ul li .guide01_left {width: 70%; height: 300px; font-size: 2rem;}

@media (max-width:1200px) {
    #sub_guide01 .sub_guide01_tit h2 {font-size: 5rem;}
    #sub_guide01 ul li {padding: 80px 0;}
    #sub_guide01 ul li .guide01_right p {font-size: 3rem;}
    #sub_guide01 ul li .guide01_right span {font-size: 2rem;}
    #sub_guide01 ul li .guide01_left {font-size: 1.8rem;}
}
@media (max-width:768px) {
    #sub_guide01 .sub_guide01_tit {padding: 30px 0 60px;}
    #sub_guide01 .sub_guide01_tit h2 {font-size: 4rem;}
    #sub_guide01 .sub_guide01_tit p {font-size: 1.4rem;}
    #sub_guide01 ul li {padding: 60px 0; flex-wrap: wrap;}
    #sub_guide01 ul li .guide01_right {width: 100%;}
    #sub_guide01 ul li .guide01_right p {font-size: 3rem;} 
    #sub_guide01 ul li .guide01_right span {font-size: 1.6rem;}
    #sub_guide01 ul li {gap: 30px;}
    #sub_guide01 ul li .guide01_left {width: 100%; font-size: 1.6rem; height: 100%;}
}
@media (max-width:500px) {
    #sub_guide01 .inner {padding-bottom: 80px;}
    #sub_guide01 .sub_guide01_tit {padding: 30px 0 40px;}
    #sub_guide01 .sub_guide01_tit h2 {font-size: 3rem;}
    #sub_guide01 .sub_guide01_tit p {font-size: 1.6rem;}
    #sub_guide01 ul li {padding: 40px 0; gap: 10px; flex-wrap: wrap;}
    #sub_guide01 ul li .guide01_right {width: 100%;}
    #sub_guide01 ul li .guide01_left {width: 100%; font-size: 1.4rem; height: 100%;}
}