@charset "utf-8";

#list .btn_more a {color: var(--sub-color); font-family: var(--sub-font); border-bottom: 1px solid var(--sub-color); text-transform: uppercase;}

#list {background: var(--main-color); padding-bottom: 100px;}
#list .sub_list_visual {background: url(../../img/sub_list/sub_list_main_visual.jpg) no-repeat center / cover; width: 100%; height: 100%; text-align: left; padding: 15% 10%;}
#list .sub_list_visual h2 {text-align: left; font-size: 6rem; color: #fff}
#list .sub_list_tit p {color: #fff; font-size: 3rem;}
#list .sub_list_tit span {color: #fff; font-size: 1.4rem;}
#list .inner h4 {font-size: 3rem; text-align: center; color: var(--sub-color); padding: 100px 0 50px;}
#list ul li {display: flex; align-items: center; gap: 10px; justify-content: left; padding: 20px 0;}
#list ul li .sub_list_txt {width: calc(100% / 2); height: 420px; border: 1px solid var(--sub-color); color: #fff; padding: 7% 5% 7%; z-index: 30;}
#list ul li .sub_list_txt p {font-size: 4rem; font-weight: 700;}
#list ul li .sub_list_txt span {font-size: 2rem; display: block; padding: 10px 0;}
#list ul li .sub_list_img {width: calc(100% / 2);}
#list ul li .sub_list_img img {display: block; width: 100%; height: 421px;}
#list .sub_list_1 ul li:nth-child(even) {justify-content: right;}
#list .sub_list_2 ul li:nth-child(odd) {justify-content: right;}
#list .sub_list_3 ul li:nth-child(odd) {justify-content: right;}

@media (max-width:1200px) {
    #list .sub_list_visual {padding: 13% 8%;}
    #list .sub_list_visual h2 {font-size: 5rem;}
    #list .sub_list_tit p {font-size: 2rem;}
    #list .sub_list_tit span {font-size: 1.2rem;}
    #list .inner h4 {padding: 80px 0 40px;}
    #list ul li .sub_list_txt {padding: 6% 4% 6%; height: 300px;}
    #list ul li .sub_list_txt p {font-size: 3rem;}
    #list ul li .sub_list_txt span {font-size: 1.8rem;}
    #list ul li .sub_list_img img {height: 301px;}
}
@media (max-width:768px) {
    #list .sub_list_visual {padding: 13% 6%;}
    #list .sub_list_visual h2 {font-size: 4rem;}
    #list .sub_list_tit p {font-size: 1.8rem;}
    #list .sub_list_tit span {font-size: 1rem;}
    #list .inner h4 {padding: 80px 0 40px;}
    #list ul li .sub_list_txt {padding: 2% 2% 3%; height: 200px;}
    #list ul li .sub_list_txt p {font-size: 2rem;}
    #list ul li .sub_list_txt span {font-size: 1.4rem; padding: 5px 0;}
    #list ul li .sub_list_img img {height: 201px;}
    #list .btn_more a {font-size: 1.2rem;}
}
@media (max-width:500px) {
    #list {padding-bottom: 30px;}
    #list .sub_list_visual h2 {font-size: 3rem;} 
    #list .sub_list_tit p {font-size: 1.6rem;}
    #list .sub_list_tit span {font-size: 1rem;}
    #list .inner h4 {padding: 30px 0 20px; font-size: 2rem;}
    #list ul li .sub_list_txt {padding: 5% 2% 5%; height: 100px;}
    #list ul li .sub_list_txt p {font-size: 1.6rem;}
    #list ul li .sub_list_txt span {display: none;}
    #list ul li .sub_list_img img {height: 101px;}
}