@charset "utf-8";

#sub_guide03 {background: var(--main-color);}
#sub_guide03 .sub_guide03_visual img {width: 100%; display: block;}
#sub_guide03 .inner {padding-bottom: 150px;}
#sub_guide03 .sub_guide03_tit {padding: 50px 0 100px; text-align: center;}
#sub_guide03 .sub_guide03_tit h2 {font-size: 6rem; color: var(--sub-color); padding-bottom: 20px;}
#sub_guide03 .sub_guide03_tit p {color: rgba(255, 255, 255, 0.6);}
#sub_guide03 .inner ul li {display: flex; gap: 100px; padding-bottom: 150px; flex-wrap: wrap;}
#sub_guide03 .inner ul li .sub_guide03_right {width: calc((100% - 100px) / 2);}
#sub_guide03 .inner ul li .sub_guide03_right img {width: 100%; border-radius: 50% 0; display: block;}
#sub_guide03 .inner ul li .sub_guide03_left {width: calc((100% - 100px) / 2);}
#sub_guide03 .inner ul li .sub_guide03_left h6 {font-size: 6rem; color: var(--sub-color); font-family: var(--sub-font); font-weight: 400; line-height: 1;}
#sub_guide03 .inner ul li .sub_guide03_left span {font-size: 6rem; color: rgba(255, 255, 255, 0.6); }
#sub_guide03 .inner ul li .sub_guide03_left p {color: #fff; line-height: 2;}

@media (max-width:1200px) {
    #sub_guide03 .sub_guide03_tit h2 {font-size: 5rem;}
    #sub_guide03 .sub_guide03_tit p {font-size: 1.6rem;}
    #sub_guide03 .inner ul li .sub_guide03_left h6 {font-size: 4rem;}
    #sub_guide03 .inner ul li .sub_guide03_left span {font-size: 5rem;}
    #sub_guide03 .inner ul li .sub_guide03_left p {line-height: 1.5;}
}
@media (max-width:768px) {
    #sub_guide03 .inner {padding-bottom: 100px;}
    #sub_guide03 .sub_guide02_tit {padding: 30px 0 60px;}
    #sub_guide03 .sub_guide03_tit p {font-size: 1.4rem;}
    #sub_guide03 .sub_guide03_tit h2 {font-size: 4rem;}
    #sub_guide03 .inner ul li {gap: 50px; padding-bottom: 100px;}
    #sub_guide03 .inner ul li .sub_guide03_right {width: 100%;}
    #sub_guide03 .inner ul li .sub_guide03_right img {width: 50%;}
    #sub_guide03 .inner ul li .sub_guide03_left {width: 100%}
    #sub_guide03 .inner ul li .sub_guide03_left h6 {font-size: 3rem;}
    #sub_guide03 .inner ul li .sub_guide03_left span {font-size: 4rem;}
    #sub_guide03 .inner ul li .sub_guide03_left p {line-height: 1.5;}
}
@media (max-width:500px) {
    #sub_guide03 .inner {padding-bottom: 80px;}
    #sub_guide03 .sub_guide03_tit {padding: 30px 0 40px;}
    #sub_guide03 .sub_guide03_tit h2 {font-size: 3rem;}
    #sub_guide03 .sub_guide03_tit p {font-size: 1.2rem;}
    #sub_guide03 .inner ul li {padding-bottom: 80px;}
    #sub_guide03 .inner ul li .sub_guide03_right {width: 100%;}
    #sub_guide03 .inner ul li .sub_guide03_right img {width: 80%;}
    #sub_guide03 .inner ul li .sub_guide03_left {width: 100%}
    #sub_guide03 .inner ul li .sub_guide03_left h6 {font-size: 3rem;}
    #sub_guide03 .inner ul li .sub_guide03_left span {font-size: 3rem;}
    #sub_guide03 .inner ul li .sub_guide03_left p {line-height: 1.5; font-size: 1.4rem;}
}